
<div class="container show">

    <div class="col-md-3 margin-top-5per article-block">
        <%= image_tag 'dog.jpg', class: 'img-responsive article-image-show padding-top-15'  %>
        <h1 class="blog-title"><%= @article.title %></h1>
        <div class= "blog-contents">
            <p class ="title dark"><%= @article.body %></p>
            <span class="dark">
                <div class=" text-right ">
                    <%= @article.created_at.strftime("%Y年%m月%d日")%>
                </div>
            </span>
        </div>
        <% if user_signed_in? %>
            <%= link_to "編集", edit_article_path(@article), class: "btn btn-primary ", style:"margin-bottom: 10px; margin-right: 5px" %>
            <%= link_to "削除する", article_path(@article),method: :delete ,data: {confirm: "削除してもよろしいですか？"} ,class: "btn btn-danger ", style:"margin-bottom: 10px" %>
        <% else %>
        <% end %>
    </div>
</div>